absl-py==0.15.0
astor==0.8.1
backports-abc==0.5
backports.functools-lru-cache==1.6.4
backports.weakref==1.0.post1
beautifulsoup4==4.9.3
boto3==1.17.112
botocore==1.20.112
bs4==0.0.1
bz2file==0.98
cachetools==3.1.1
certifi==2021.10.8
chardet==4.0.0
cheroot==8.6.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cssselect==1.1.0
defusedxml==0.7.1
dnspython==1.16.0
enum34==1.1.10
Flask==1.1.4
Flask-Login==0.5.0
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.18.2
futures==3.3.0
gast==0.2.2
gensim==3.8.3
google-auth==1.35.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.41.1
gyp==0.1
h5py==2.10.0
idna==2.10
importlib-metadata==2.1.3
importlib-resources==3.3.1
itsdangerous==1.1.0
jaraco.functools==2.0
jedi==0.17.2
Jinja2==2.11.3
jmespath==0.10.0
joblib==0.14.1
json5==0.9.10
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lxml==4.9.1
Markdown==3.1.1
MarkupSafe==1.1.1
mock==3.0.5
more-itertools==5.0.0
nltk==3.4.5
numpy==1.16.1
oauthlib==3.1.0
opt-einsum==2.3.2
pandas==0.24.2
parso==0.7.1
pathlib2==2.3.7.post1
pip==20.3.4
pluggy==0.13.1
protobuf==3.17.3
py4j==0.10.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyBrain==0.3
pycurl==7.43.0.5
pydns==2.3.6
pyquery==1.4.3
pyspark==3.0.3
pyspider==0.3.10
python-dateutil==2.8.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.5
s3transfer==0.4.2
scandir==1.10.0
scipy==1.2.3
selectors2==2.0.2
setuptools==44.1.1
singledispatch==3.7.0
six==1.16.0
smart-open==1.10.1
soupsieve==1.9.6
tblib==1.7.0
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
tensorflow-text==2.0.1
termcolor==1.1.0
tldextract==2.2.3
tornado==4.5.3
tqdm==4.64.1
typing==3.10.0.0
u-msgpack-python==2.7.2
ujson==2.0.3
urllib3==1.26.12
warcio==1.7.4
Werkzeug==1.0.1
wheel==0.37.1
wrapt==1.15.0
WsgiDAV==4.1.0
zipp==1.2.0
